<div class ="container"><h1>New Place</h1></div>

<%= form_with :model => @place do |form| %>
<div class = "container">
  <div class = "mb-3">
    <p>
      <%= form.label "name", :class => "form-label" %>
      <%= form.text_field "name", :class => "form-control" %>
    </p>
  </div>
</div>
  <div class="container">
    <p><%= form.submit "Submit", class: "btn btn-primary" %></p>
  </div>
<% end %>
